doctype html
html
    head
        title SIMVENTORY - Activity
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        .navbar.hidden-xs
            ul.nav.nav-pills
                li.logo SIMVENTORY
                li
                    a(href='index.html')
                        i.fa.fa-home
                        |  HOME
                li.active
                    a(href='activity.html')
                        i.fa.fa-tasks
                        |  ACTIVITY
                li
                    a(href='items.html')
                        i.fa.fa-cogs
                        |  ITEMS
                li
                    a(href='locations.html')
                        i.fa.fa-globe
                        |  LOCATIONS
                li.signout.pull-right
                    a(href='/logout')
                        i.fa.fa-sign-out
                        |  LOG OUT
                if (user.admin)
                    li.pull-right
                        a(href="/newadmin.html")
                            i.fa.fa-user </i> #{user.name}
                else
                    li.pull-right.username
                        i.fa.fa-user </i> #{user.name}
        .navbar.visible-xs
            ul.nav
                button.btn.btn-success.pull-right.hamburger(type="button", data-toggle="collapse", data-target="#topnav")
                    i.fa.fa-bars
                li.logo-mobile SIMVENTORY
                #topnav.collapse.collapsed
                    li
                        a(href='#')
                            i.fa.fa-home
                            |  HOME
                    li
                        a(href='activity.html')
                            i.fa.fa-tasks
                            |  ACTIVITY
                    li
                        a(href='items.html')
                            i.fa.fa-cogs
                            |  ITEMS
                    li
                        a(href='locations.html')
                            i.fa.fa-globe
                            |  LOCATIONS
                    li
                        a(href='/logout')
                            i.fa.fa-sign-out
                            |  LOG OUT (#{user.name})

        .container
            .checking.col-lg-10.col-centered
                h1 Activity History
                div.table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th User
                                th Action
                                th Item
                                th Location
                                th Time
                        tbody
                            each activity, i in activities
                                tr.middle-align
                                    td #{activity.user_name}
                                    td #{activity.checking_status}
                                    td #{activity.Item.name}&nbsp;
                                        a(href="/items.html?item=" + activity.Item.barcode) (#{activity.Item.barcode})
                                    if (activity.Location)
                                        td #{activity.Location.name}&nbsp;
                                            a(href="/locations.html?location=" + activity.Location.barcode) (#{activity.Location.barcode})
                                    else
                                        td
                                    td #{parseTime(activity.updatedAt)}

        script(src='js/jquery-2.1.1.min.js')
        script(src='js/bootstrap.min.js')

