doctype html
html
    head
        title SIMVENTORY - Home
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        span.hidden-items#username #{user.name}

        .navbar.hidden-xs
            ul.nav.nav-pills
                li.logo SIMVENTORY
                li.active
                    a(href='index.html')
                        i.fa.fa-home
                        |  HOME
                li
                    a(href='activity.html')
                        i.fa.fa-tasks
                        |  ACTIVITY
                li
                    a(href='items.html')
                        i.fa.fa-cogs
                        |  ITEMS
                li
                    a(href='locations.html')
                        i.fa.fa-globe
                        |  LOCATIONS
                li.signout.pull-right
                    a(href='/logout')
                        i.fa.fa-sign-out
                        |  LOG OUT
                if (user.admin)
                    li.pull-right
                        a(href="/newadmin.html")
                            i.fa.fa-user </i> #{user.name}
                else
                    li.pull-right.username
                        i.fa.fa-user </i> #{user.name}
        .navbar.visible-xs
            ul.nav
                button.btn.btn-success.pull-right.hamburger(type="button", data-toggle="collapse", data-target="#topnav")
                    i.fa.fa-bars
                li.logo-mobile SIMVENTORY
                #topnav.collapse.collapsed
                    li
                        a(href='#')
                            i.fa.fa-home
                            |  HOME
                    li
                        a(href='activity.html')
                            i.fa.fa-tasks
                            |  ACTIVITY
                    li
                        a(href='items.html')
                            i.fa.fa-cogs
                            |  ITEMS
                    li
                        a(href='locations.html')
                            i.fa.fa-globe
                            |  LOCATIONS
                    li
                        a(href='/logout')
                            i.fa.fa-sign-out
                            |  LOG OUT (#{user.name})

        .container
            .checking.col-lg-10.col-centered
                h1 Check In & Out
                div.well
                form
                    .form-group
                        label(for='itemBarcode') Item Barcode
                        input#itemBarcode.form-control(type='text', placeholder='Enter barcode')
                    .form-group
                        label(for='locationBarcode') Location Barcode (optional)
                        input#locationBarcode.form-control(type='text', placeholder='Enter barcode')
                    .checking-btns.row
                        button.btn.btn-danger.btn-lg.col-sm-5.check-out-btn(type='button') Check Out
                        button.btn.btn-info.btn-lg.col-sm-5.check-in-btn(type='button') Check In
        script(src='js/jquery-2.1.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/index.js')
