doctype html
html
    head
        title SIMVENTORY - Items
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body

        .navbar.hidden-xs
            ul.nav.nav-pills
                li.logo SIMVENTORY
                li
                    a(href='index.html')
                        i.fa.fa-home
                        |  HOME
                li
                    a(href='activity.html')
                        i.fa.fa-tasks
                        |  ACTIVITY
                li.active
                    a(href='items.html')
                        i.fa.fa-cogs
                        |  ITEMS
                li
                    a(href='locations.html')
                        i.fa.fa-globe
                        |  LOCATIONS
                li.signout.pull-right
                    a(href='/logout')
                        i.fa.fa-sign-out
                        |  LOG OUT
                if (user.admin)
                    li.pull-right
                        a(href="/newadmin.html")
                            i.fa.fa-user </i> #{user.name}
                else
                    li.pull-right.username
                        i.fa.fa-user </i> #{user.name}
        .navbar.visible-xs
            ul.nav
                button.btn.btn-success.pull-right.hamburger(type="button", data-toggle="collapse", data-target="#topnav")
                    i.fa.fa-bars
                li.logo-mobile SIMVENTORY
                #topnav.collapse.collapsed
                    li
                        a(href='#')
                            i.fa.fa-home
                            |  HOME
                    li
                        a(href='activity.html')
                            i.fa.fa-tasks
                            |  ACTIVITY
                    li
                        a(href='items.html')
                            i.fa.fa-cogs
                            |  ITEMS
                    li
                        a(href='locations.html')
                            i.fa.fa-globe
                            |  LOCATIONS
                    li
                        a(href='/logout')
                            i.fa.fa-sign-out
                            |  LOG OUT (#{user.name})

        if (Object.keys(item).length !== 0)
            .container
                .checking.col-lg-10.col-centered
                    h1 Barcode ##{item.barcode}
                    h2 #{item.name}
                    h3 Description: #{item.desc}
                    h3 Price: $#{item.price}
                    h3 Activities (Last 10):
                        each activity,i in activities
                            if (activity.Location)
                                div
                                    span.activity-display #{activity.checking_status} by #{activity.user_name} @&nbsp;
                                        a(href="/locations.html?location=" + activity.Location.barcode) #{activity.Location.name}&nbsp;
                                    span.activity-display (#{parseTime(activity.updatedAt)})
                            else
                                div
                                    span.activity-display #{activity.checking_status} by #{activity.user_name} (#{activity.createdAt})

        .container
            .checking.col-lg-10.col-centered
                h1 Browse Items
                div.table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Name
                                th Description
                                th.right-align Price
                                th.right-align Barcode
                                if (user.admin)
                                    th
                                    th
                        tbody
                            each item, i in items
                                tr.middle-align
                                    td.name #{item.name}
                                    td #{item.desc}
                                    td.right-align #{item.price}
                                    td.right-align
                                        a(href="/items.html?item=" + item.barcode) #{item.barcode}
                                    if (user.admin)
                                        td.action-btn
                                            button.edit-item-btn.btn.btn-primary(type="button", value=item.id) Edit
                                        td.action-btn
                                            button.remove-item-btn.btn.btn-danger(type="button", value=item.id) Delete

        if (user.admin)
            .container
                .checking.col-lg-10.col-centered
                    h1 Add Item
                    form.form-inline.add-item
                        .form-group
                            input.form-control(type='text', placeholder='Name', name='name')
                        .form-group
                            input.form-control(type='text', placeholder='Description (Optional)', name='desc')
                        .form-group
                            input.form-control(type='text', placeholder='Price (Optional)', name='price')
                        .form-group
                            input.form-control(type='text', placeholder='Barcode', name='barcode')
                        button.btn.btn-warning.add-item-btn(type='button') Add Item
        script(src='js/jquery-2.1.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/items.js')
