doctype html
html
    head
        title SIMVENTORY - Locations
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        .navbar.hidden-xs
            ul.nav.nav-pills
                li.logo SIMVENTORY
                li
                    a(href='index.html')
                        i.fa.fa-home
                        |  HOME
                li
                    a(href='activity.html')
                        i.fa.fa-tasks
                        |  ACTIVITY
                li
                    a(href='items.html')
                        i.fa.fa-cogs
                        |  ITEMS
                li.active
                    a(href='locations.html')
                        i.fa.fa-globe
                        |  LOCATIONS
                li.signout.pull-right
                    a(href='/logout')
                        i.fa.fa-sign-out
                        |  LOG OUT
                if (user.admin)
                    li.pull-right
                        a(href="/newadmin.html")
                            i.fa.fa-user </i> #{user.name}
                else
                    li.pull-right.username
                        i.fa.fa-user </i> #{user.name}
        .navbar.visible-xs
            ul.nav
                button.btn.btn-success.pull-right.hamburger(type="button", data-toggle="collapse", data-target="#topnav")
                    i.fa.fa-bars
                li.logo-mobile SIMVENTORY
                #topnav.collapse.collapsed
                    li
                        a(href='#')
                            i.fa.fa-home
                            |  HOME
                    li
                        a(href='activity.html')
                            i.fa.fa-tasks
                            |  ACTIVITY
                    li
                        a(href='items.html')
                            i.fa.fa-cogs
                            |  ITEMS
                    li
                        a(href='locations.html')
                            i.fa.fa-globe
                            |  LOCATIONS
                    li
                        a(href='/logout')
                            i.fa.fa-sign-out
                            |  LOG OUT (#{user.name})

        if (Object.keys(location).length !== 0)
            .container
                .checking.col-lg-10.col-centered
                    h1 Barcode ##{location.barcode}
                    h2 #{location.name}
                    h3 Description: #{location.desc}
                    h3 Activities (Last 10):
                        each activity,i in activities
                            div
                                span.activity-display #{activity.checking_status} of&nbsp;
                                    a(href="/items.html?item=" + activity.Item.barcode) #{activity.Item.name}&nbsp;
                                span.activity-display by #{activity.user_name} (#{parseTime(activity.updatedAt)})


        .container
            .checking.col-lg-10.col-centered
                h1 Browse Locations
                div.table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Name
                                th Description
                                th.right-align Barcode
                                if (user.admin)
                                    th
                                    th
                        tbody
                            each location, i in locations
                                tr.middle-align
                                    td.name #{location.name}
                                    td #{location.desc}
                                    td.right-align
                                        a(href="/locations.html?location=" + location.barcode) #{location.barcode}
                                    if (user.admin)
                                        td.action-btn
                                            button.edit-location-btn.btn.btn-primary(type="button", value=location.id) Edit
                                        td.action-btn
                                            button.remove-location-btn.btn.btn-danger(type="button", value=location.id) Delete

        if (user.admin)
            .container
                .checking.col-lg-10.col-centered
                    h1 Add Location
                    form.form-inline.add-location
                        .form-group
                            input.form-control(type='text', placeholder='Name', name='name')
                        .form-group
                            input.form-control(type='text', placeholder='Description (Optional)', name='desc')
                        .form-group
                            input.form-control(type='text', placeholder='Barcode', name='barcode')
                        button.btn.btn-warning.add-location-btn(type='button') Add Location
        script(src='js/jquery-2.1.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/locations.js')
