doctype html
html
    head
        title SIMVENTORY - New Admin
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        .navbar.hidden-xs
            ul.nav.nav-pills
                li.logo SIMVENTORY
                li
                    a(href='index.html')
                        i.fa.fa-home
                        |  HOME
                li
                    a(href='activity.html')
                        i.fa.fa-tasks
                        |  ACTIVITY
                li
                    a(href='items.html')
                        i.fa.fa-cogs
                        |  ITEMS
                li
                    a(href='locations.html')
                        i.fa.fa-globe
                        |  LOCATIONS
                li.signout.pull-right
                    a(href='/logout')
                        i.fa.fa-sign-out
                        |  LOG OUT
                li.username.pull-right
                    i.fa.fa-user
                    |  #{user.name}
        .navbar.visible-xs
            ul.nav
                button.btn.btn-success.pull-right.hamburger(type="button", data-toggle="collapse", data-target="#topnav")
                    i.fa.fa-bars
                li.logo-mobile SIMVENTORY
                #topnav.collapse.collapsed
                    li
                        a(href='#')
                            i.fa.fa-home
                            |  HOME
                    li
                        a(href='activity.html')
                            i.fa.fa-tasks
                            |  ACTIVITY
                    li
                        a(href='items.html')
                            i.fa.fa-cogs
                            |  ITEMS
                    li
                        a(href='locations.html')
                            i.fa.fa-globe
                            |  LOCATIONS
                    li
                        a(href='/logout')
                            i.fa.fa-sign-out
                            |  LOG OUT (#{user.name})

        .container
            .checking.col-lg-10.col-centered
                h1 Create New Admin
                form.form-inline.add-location
                    .form-group
                        input.form-control(type='text', placeholder='Username', name='username')
                    .form-group
                        input.form-control(type='password', placeholder='Password', name='password')
                    button.btn.btn-warning.add-admin-btn(type='button') Create New Admin
        script(src='js/jquery-2.1.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/newadmin.js')
