@import url(http://fonts.googleapis.com/css?family=Orbitron);

body {
    background-color: #64B058;
    color: white;
    font-size: 1.8em;
}

.navbar-collapse {
    margin: 0;
    padding: 0;
}

.nav-pills {
    background-color: #97D38D;
    color: #1E6912;
}

.nav li.logo, .nav li.username {
    padding: 10px 15px;
}

li.logo-mobile {
    font-weight: 400;
    margin-left: 1em;
    display: inline-block;
}

.nav-pills li {
    margin: 0.5em;
}

.nav li > a {
    color: #1E6912;
    font-weight: 400;
}

.nav li > a:hover {
    background-color: #557D4F;
    color: #97D38D;
}

.nav li.active > a, .nav li.active > a:hover, .nav li.active > a:focus {
    background-color: #557D4F;
    color: #97D38D;
}

a .fa {
    margin-right: 0.5em;
}

.hamburger {
    border: solid 2px #557D4F;
}

.burger span {
    background-color: #557D4F;
}

ul.navbar-toggle {
    float: left;
    width: 100%;
}

form {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em 1em 2em;
}

.checking {
    background-color: white;
    color: #020;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5em;
}

.checking-btns .btn {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.btn-danger {
    background-color: #C6403D;
    border-color: #E76966;
}

.btn-info {
    background-color: #314B9A;
    border-color: #4A62A8;
}

.checking-btns {
    text-align: center;
}

.hamburger {
    text-align: center;
    color: #97D38D;
}

#topnav a {
    text-decoration: none;
    display: block;
}

#topnav li {
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-group {
    margin-right: 1em;
}

.add-item .form-group {
    margin-top: 0.5em;
}

.add-item .btn {
    margin-top: 0.5em;
}

.right-align {
    text-align: right;
}

table {
    font-size: 0.9em;
}

td.name {
    min-width: 8em;
}

.middle-align > td {
    vertical-align: middle !important;
}

.action-btn {
    width: 1em;
}

.hidden-items {
    display: none;
}

.table > tbody > tr > td.details {
    border: none;
}

.activity-display {
    font-size: 0.8em;
    font-weight: 300;
}

.logo, .logo-mobile {
    font-family: 'Orbitron', sans-serif;
    vertical-align: middle;
    font-weight: 900;
    margin-top: 11px !important;
}